@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("./fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("./fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerif-Regular";
    src: url("./fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerif-Bold";
    src: url("./fonts/PT_Serif/PTSerif-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-ExtraLight";
    src: url("./fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("./fonts/Raleway/Raleway-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("./fonts/Raleway/Raleway-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "RobotoLight";
    }
}

@layer components {

    .body_block {
        @apply flex flex-col min-h-screen;
    }

    header {
        @apply bg-gray-800 text-white p-4;
    }

    .header_container {
        @apply container mx-auto flex justify-between items-center;
    }

    .header_logo {
        @apply text-xl font-bold flex gap-4 justify-center;
    }

    .header_menu {
        @apply text-xl font-bold flex gap-4 justify-center;
    }

    .nav-link {
        @apply hover:bg-gray-400 hover:text-white p-2 text-sm rounded-md;
    }

    main {
        @apply flex-grow container mx-auto p-4 max_width;
    }

    footer {
        @apply bg-gray-500 text-white p-4 text-sm;
    }

    .footer_container {
        @apply container mx-auto flex justify-between items-center;
    }


    .title {
        @apply text-4xl font-bold text-center;
    }

    .auth_container {
        @apply w-[80%] mx-auto text-center mb-4;
    }

    .auth_form {
        @apply flex flex-col justify-center;
    }

    .form_button {
        @apply btn bg-gray-600 hover:bg-gray-900 text-white mx-6 mt-6;
    }

    .auth_input {
        @apply p-2 border rounded-md m-2;
    }

    .message {
        @apply p-2 shadow-lg text-sm text-white font-bold text-center font_raleway_light
    }

    .success {
        @apply bg-green-500 message;
    }

    .error {
        @apply bg-red-500 message;
    }

    .validation_error {
        @apply text-red-600 pb-2 pl-4 text-xs text-left font_raleway_light font-semibold;
    }

    .calendar_selection_container {
        @apply w-[900px] mx-auto flex flex-row gap-4 justify-between justify-center;
    }

    .month_select,
    .year_select {
        @apply p-2 m-2 border border-gray-300 rounded-md outline-none;
    }

    .calendar_month {
        @apply w-[880px] mx-auto flex flex-col flex-nowrap;
    }

    .calendar_month_header {
        @apply mb-3 flex flex-row flex-nowrap text-center justify-between gap-1 text-gray-500;
    }

    .calendar_week {
        @apply flex flex-row flex-nowrap text-center justify-between gap-1;
    }

    .disabled .day {
        @apply flex flex-row items-center justify-between;
    }

    .day_current {
        @apply bg-indigo-300 text-white;
    }

    .day_enabled {
        @apply calendar_enabled calendar_background;
    }

    .day_disabled {
        @apply text-gray-400 disabled_link calendar_background;
    }

    .day_meeting {
        @apply meeting place-self-start;
    }

    .day_event {
        @apply event place-self-end ml-auto;
    }

    .day_events_container {
        @apply flex-grow container mx-auto p-4 max_width mb-0;
    }

    .day_events_header {
        @apply mx-auto max-w-fit;
    }

    .day_events_header_title {
        @apply text-4xl font-bold text-center mt-4 mb-8;
    }

    .day_events_header_dayname {
        @apply text-right pb-5 relative bottom-9 text-slate-500;
    }

    .day_events_table_container {
        @apply mx-auto w-[1000px];
    }

    .day_events_table_header {
        @apply mt-4 mb-2 flex flex-row justify-between flex-nowrap gap-2 justify-items-center;
    }

    .day_events_table_header_id {
        @apply py-3 bg-slate-300 font-bold text-center w-[45px];
    }

    .day_events_table_header_title {
        @apply py-3 bg-slate-300 font-bold text-center w-1/3;
    }

    .day_events_table_header_time,
    .day_events_table_header_actions,
    .day_events_table_header_duration {
        @apply py-3 bg-slate-300 font-bold text-center w-[100px];
    }

    .day_events_table_header_type {
        @apply py-3 bg-slate-300 font-bold text-center w-[150px];
    }

    .day_events_table_header_description {
        @apply py-3 bg-slate-300 font-bold text-center w-1/3;
    }

    .day_events_table_header_status {
        @apply py-3 bg-slate-300 font-bold text-center w-[120px];
    }

    .day_events_edit_form {
        @apply w-[50%] mx-auto flex flex-col justify-between;
    }

    .day_events_edit_form_title {
        @apply border rounded-md py-1 px-4 mb-6 mt-2;
    }

    .day_events_edit_form_time {
        @apply border rounded-md py-1 px-4 mb-6 mt-2;
    }

    .day_events_edit_form_duration {
        @apply border rounded-md py-2 px-4 mb-6 mt-2 w-40;
    }

    .day_events_edit_form_type,
    .day_events_edit_form_status {
        @apply border rounded-md py-2 px-4 mb-6 mt-2 w-40;
    }

    .day_events_edit_form_description {
        @apply border rounded-md p-2;
    }

    .day_events_edit_form_submit {
        @apply btn bg-blue-700 hover:bg-blue-400 text-white mx-6 mt-6;
    }

    .day_events_edit_form_cancel {
        @apply btn bg-gray-900 hover:bg-gray-600 text-white mx-6 mt-6;
    }

    .day_events_edit_form_delete {
        @apply btn bg-red-600 hover:bg-red-400 text-white mx-6 mt-6;
    }

}


.font_raleway_light {
    font-family: Raleway-Light;
}

.no_link {
    cursor: default;
    pointer-events: none;
}

.max_width {
    max-width: 1440px;
}

.font-cursive {
    font-family: cursive;
}

.disabled_link {
    cursor: default;
    pointer-events: none;
}

.btn {
    /* max-width: fit-content; */
    font-weight: 700;
    padding-block: 6px;
    padding-inline: 14px;
    border-radius: 10px;
    cursor: pointer;
}

thead,
tbody {
    text-align: center;
}

th {
    border: 4px solid white;
    padding: 10px;
    font-size: larger;
    background: lightblue;
}

.calendar {
    padding-inline: 18px;
    padding-block: 18px 16px;
    font-family: 'RobotoRegular';
    font-size: 70px;

    border-radius: 5px;
    /* color: cadetblue; */

    cursor: pointer;
    display: inline-block;
    width: 120px;
    margin-block: 3px;
}

.calendar_background {
    background: lavender;
}

.calendar_enabled {
    color: #4f8183;
}

.calendar:hover {
    color: #016a6a;
    background: rgb(165 180 252);
}

.calendar__month_header-common,
.calendar__month_header-current {
    padding-block: 0.75rem;
    padding-inline: 2.5rem;
    width: 120px;
    font-weight: 700;
    font-size: 18px;
}

.calendar__month_header-common {
    color: rgb(107 114 128);
    background-color: rgb(165 180 252);
}

.calendar__month_header-current {
    color: white;
    background-color: rgb(99 102 241);
    font-family: 'RobotoRegular';
}

.hidden_event {
    padding-block-end: 32px;
}

.event,
.meeting {
    position: relative;
    top: -95px;
    width: 15px;
    height: 15px;
    color: white;
    padding: 4px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    z-index: 10;
    margin-block-start: -14px;
    line-height: 10px;
    font-family: sans-serif;
}


.event {
    right: 0;
    background-color: rgb(123, 190, 102);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.meeting {
    right: 0;
    background-color: rgba(231, 17, 17, 0.863);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.calendar div {
    margin-inline-start: -18px;
    margin-inline-end: -17px;
}

.event_data {
    font-size: 14px;
    line-height: 20px;
    font-family: 'RobotoLight';
}


.event_data a:nth-child(odd) {
    background: rgb(252, 252, 255);
}

.event_data a:hover {
    /* color: white; */
    background-color: rgb(237 239 251);
    /* font-weight: 700; */
}

.day_events_table_row {
    margin-block-end: -22px;
}

.day_events_table_row_delete {
    position: absolute;
    top: 296px;
    right: 176px;
    margin-block-end: -20px;
    background: red;
    padding-inline: 4px;
    padding-block: 0;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-family: 'RobotoRegular';
    font-size: 9px;
    line-height: 14px;
    cursor: pointer;
}

.day_events_add_new {
    padding: 5px 10px;
    background: #6ec96e;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    border-radius: 6px;
}

.day_events_add_new:hover {
    background: #16b916;
}

.day_has_no_events {
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-weight: 700;
    font-family: 'RobotoLight';
}
