@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("./fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("./fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerif-Regular";
    src: url("./fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerif-Bold";
    src: url("./fonts/PT_Serif/PTSerif-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-ExtraLight";
    src: url("./fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Light";
    src: url("./fonts/Raleway/Raleway-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url("./fonts/Raleway/Raleway-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "RobotoLight";
    }
}

@layer components {

    .body_block {
        @apply flex flex-col min-h-screen;
    }

    header {
        @apply bg-gray-800 text-white p-4;
    }

    .header_container {
        @apply container mx-auto flex justify-between items-center;
    }

    .header_logo {
        @apply text-xl font-bold flex gap-4 justify-center;
    }

    .header_menu {
        @apply text-xl font-bold flex gap-4 justify-center;
    }

    .nav-link {
        @apply hover:bg-gray-400 hover:text-white p-2 text-sm rounded-md;
    }

    main {
        @apply flex-grow container mx-auto p-4 max_width;
    }

    footer {
        @apply bg-gray-500 text-white p-4 text-sm;
    }

    .footer_container {
        @apply container mx-auto flex justify-between items-center;
    }



    .title {
        @apply text-4xl font-bold text-center;
    }

    .auth_container {
        @apply w-[80%] mx-auto text-center mb-4;
    }

    .auth_form {
        @apply flex flex-col justify-center;
    }

    .form_button {
        @apply btn bg-gray-600 hover:bg-gray-900 text-white mx-6 mt-6;
    }

    .auth_input {
        @apply p-2 border rounded-md m-2;
    }

    .message {
        @apply p-2 shadow-lg text-sm text-white font-bold text-center font_raleway_light
    }

    .success {
        @apply bg-green-500 message;
    }

    .error {
        @apply bg-red-500 message;
    }

    .validation_error {
        @apply text-red-600 pb-2 pl-4 text-xs text-left font_raleway_light font-semibold;
    }
}


.font_raleway_light {
    font-family: Raleway-Light;
}

.no_link {
    cursor: default;
    pointer-events: none;
}

.max_width {
    max-width: 1440px;
}

.font-cursive {
    font-family: cursive;
}

.disabled_link {
    cursor: default;
    pointer-events: none;
}

.btn {
    /* max-width: fit-content; */
    font-weight: 700;
    padding-block: 6px;
    padding-inline: 14px;
    border-radius: 10px;
    cursor: pointer;
}

thead,
tbody {
    text-align: center;
}

th {
    border: 4px solid white;
    padding: 10px;
    font-size: larger;
    background: lightblue;
}

.calendar {
    padding-inline: 18px;
    padding-block: 18px 16px;
    font-family: 'RobotoRegular';
    font-size: 70px;
    background: lavender;
    border: 4px solid white;
    color: cadetblue;
    cursor: pointer;
    display: inline-block;
    width: 120px;
}

.calendar:hover {
    color: darkcyan;
}

.hidden_event {
    padding-block-end: 32px;
}

.event,
.meeting {
    position: relative;
    top: -95px;
    width: 15px;
    height: 15px;
    color: white;
    padding: 4px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    z-index: 10;
    margin-block-start: -14px;
    line-height: 9px;
}


.event {
    right: 0;
    background-color: rgb(123, 190, 102);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.meeting {
    right: 0;
    background-color: rgba(231, 17, 17, 0.863);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.calendar div {
    margin-inline-start: -18px;
    margin-inline-end: -17px;
}

.event_data {
    font-size: 16px;
    line-height: 40px;
    font-family: 'RobotoLight';
}

.event_data td {
    padding-inline: 24px;
}

.event_data td a:hover {
    color: blue;
}

.event_data:nth-child(even) {
    background: ghostwhite;
}
